@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand-Book.otf);
}
body,
html {
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}
footer {
  background: #ffffff;
}
ul,
li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.menu {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.npower-0 {
  justify-self: center;
  padding-right: 88px;
}
.how-it {
  font-weight: bold;
  color: #65B915;
}
.calculator,
.faq,
.comments,
.contact-0 {
  color: #222222;
  margin-left: 800px;

}
.menu-0 {
  display: flex;
  max-width: 490px;
  width: 100%;
  justify-content: space-between;
  color: #222222;
}
.facebook-0 {
  margin-left: 158px;
}
.instagram {
  margin-left: 28px;
}
.twitter {
  margin-left: 25px;
}
.border-0 {
  height: 32px;
  margin-left: 24px;
  border-left: 1px solid #DBDCE3;
}
.logo {
  display: flex;
  margin-left: 24px;
}
.log {
  margin-left: 8px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #777777;
}
.stated {
  background: #F7CB5C;
  box-shadow: 0px 5px 15px rgba(247, 203, 92, 0.75);
  border-radius: 3px;
  box-sizing: content-box;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 20px;
  margin-left: 24px;
}
.rectangle {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #E1F2FF;
  overflow: hidden;
}
.vector-1 {
  width: calc(238/1920*100vw);
}
.vector-2 {
  width: calc(390/1920*100vw);
}
.group29 {
  align-self: center;
  margin: 99px auto;
  letter-spacing: 1px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: normal;
  text-align: center;
  color: #222222;
  z-index: 5;
}
.save-time {
  font-weight: bold;
  text-align: center;
  color: #65B915;
  margin-top: 3px;
}
.try-to-calculate {
  font-family: Hind Siliguri;
  font-size: 16px;
  color: #777777;
  margin-top: 26px;
}
.get-started-1 {
  background: #F7CB5C;
  box-shadow: 0px 5px 15px rgba(247, 203, 92, 0.6);
  border-radius: 3px;
  box-sizing: content-box;
  font-family: Quicksand;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  height: 43px;
  line-height: 43px;
  padding: 0 30px;
  margin-top: 55px;
}
.house-1 {
  width: 100%;
  background: #E1F2FF;
}
.group30 {
  position: relative;
  background-color: #ffffff;
}
.house-2 {
  position: absolute;
  top: -7%;
  right: 10%;
  width: 560px;
}
.how {
  position: relative;
  margin-top: 101px;
  padding-bottom: 84px;
  margin-left: 300px;
  z-index: 2;
}
.one {
  padding-right: 16px;
}
.list {
  margin-top: 47px;
}
.how-does-it-work {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 50px;
  color: #222222;
}
.its-simple {
  font-weight: bold;
  color: #65B915;
}
.choose-a-package {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #222222;
}
.deter {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  color: #777777;
  margin-left: 48px;
}
.get-0 {
  margin-left: 48px;
  background: #F7CB5C;
  box-shadow: 0px 5px 15px rgba(247, 203, 92, 0.75);
  box-sizing: content-box;
  border-radius: 3px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 43px;
  height: 43px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 30px;
}
.list2 {
  margin-top: 57px;
}
.group32 {
  background: #F1FCED;
  border: 1px solid rgba(143, 192, 105, 0.3);
  box-sizing: border-box;
  padding-top: 99px;
  padding-bottom: 85px;
}
.the-advantages {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 50px;
  color: #222222;
  text-align: center;
  padding-bottom: 83px;
}
.advantages {
  font-weight: 500;
  color: #65B915;
}
.maxwit {
  margin: 0 auto;
  max-width: 1200px;
}
.maxwit-1 {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.maxwit-0 {
  display: flex;
  justify-content: space-between;
}
.free {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #222222;
  vertical-align: top;
}
.fast {
  margin-top: -2px;
  margin-left: 69px;
  font-family: Hind Siliguri;
  font-weight: normal;
  font-size: 13px;
  color: #777777;
}
.pict {
  padding-right: 27px;
}
.pict-0 {
  padding-right: 29px;
}
.pict-1 {
  padding-right: 31px;
}
.pict-2 {
  padding-right: 32px;
}
.pict-3 {
  padding-right: 28px;
  padding-left: 10px;
}
.pict-4 {
  padding-right: 32px;
}
.each-contact {
  padding-right: 14px;
}
.our-bulbs {
  margin-left: 80px;
}
.group36 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.your {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 50px;
  margin-top: 100px;
  color: #333333;
}
.savings {
  font-weight: 500;
  line-height: 50px;
  color: #65B915;
}
.calculate {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #DBDCE3;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 37px;
}
.payment2 {
  position: relative;
  display: flex;
}
.payment3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 234px;
  height: 347px;
  margin-left: 33px;
  margin-top: 60px;
  background: #F8F8F9;
  border: 1px solid #777777;
  box-sizing: border-box;
}
.add {
  position: relative;
  width: 100px;
  height: 100px;
  background: #D4EAC5;
  border-radius: 50%;
  border: none;
  align-self: center;
}
.another {
  position: relative;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  color: #777777;
  text-align: center;
  margin-top: 11px;
}
.plus {
  width: 40px;
  height: 4px;
  background: #65B915;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
.plus1 {
  width: 4px;
  height: 40px;
  background: #65B915;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
.payment {
  width: 100%;
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #222222;
  padding: 24px 33px 0 24px;
}
.by-default {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.03em;
  color: #777777;
}
.number {
  margin-top: 18px;
}
.inp {
  margin-top: 10px;
  line-height: 37px;
  max-width: 216px;
  padding-left: 18px;
}
.heig {
  margin-top: 30px;
}
.economy {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 766px;
  border-top: 1px solid #DBDCE3;
  padding-top: 34px;
  margin-top: 36px;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #222222;
  margin-bottom: 35px;
  flex-flow: row wrap;
}
.economy-1 {
  display: flex;
  align-self: center;
}
.but {
  display: flex;
}
.count-0 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 42px;
  height: 42px;
  color: #FFFFFF;
  border-radius: 3px;
}
.cash {
  margin-left: 18px;
  font-family: Prompt;
  font-weight: normal;
  font-size: 42px;
  line-height: 42px;
  color: #65B915;
}
.year {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 43px;
  color: #222222;
}
.count {
  background: #F7CB5C;
  box-shadow: 0px 5px 15px rgba(247, 203, 92, 0.75);
  box-sizing: content-box;
  padding: 0 18px;
}
.order {
  margin-left: 18px;
  background: #65B915;
  box-shadow: 0px 5px 15px rgba(101, 185, 21, 0.7);
  box-sizing: content-box;
  padding: 0 24px;
}
.thanks {
  width: 100%;
  position: relative;
  max-width: 384px;
  padding: 36px 24px 0;
  background: #F1FCED;
  height: 600px;
  background-image: url("images/234.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  contain: content;
  border-left: 1px solid #D4EAC5;
  box-sizing: border-box;
}
.bord {
  border: none;
  color: #D4EAC5;
  height: 2px;
  background-color: #D4EAC5;
  margin: 36px 0 30px;
}
.thanks-0 {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #777777;
}
.group34 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 495px;
  background: #F1FCED;
  border: 1px solid rgba(143, 192, 105, 0.3);
  box-sizing: border-box;
  margin-top: 120px;
}
.content {
  height: 266px;
  align-self: center;
}
.content-1 {
  position: relative;
  height: 161px;
  top: 18px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  font-size: 2.5rem;
  color: #65B915;
}
.from {
  font-weight: normal;
  color: #222222;
}
.npower {
  height: 52px;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #777777;
}
.group28 {
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.hand {
  margin-left: 49px;
}
.frequently {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  font-size: 2.5rem;
  color: #222222;
  margin-bottom: 50px;
  text-align: center;
}
.asked {
  font-weight: 500;
  text-align: center;
  color: #65B915;
}
.text-2 {
  padding-left: 10px;
  max-width: 792px;
  margin-top: 47px;
  border-bottom: 1px solid #DBDCE3;
}
.bordertop {
  border-top: 1px solid #DBDCE3;
}
.reque {
  padding-top: 28px;
}
.text-3 {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  color: #222222;
  border-bottom: 1px solid #DBDCE3;
  margin-top: 28px;
  height: 49px;
}
.lorem-repudiandae {
  height: 168px;
}
.quidam {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #777777;
}
.sea-no-dico {
  border-bottom: 1px solid #DBDCE3;
}
.get-started-4 {
  background: #F7CB5C;
  box-shadow: 0px 5px 15px rgba(247, 203, 92, 0.75);
  box-sizing: content-box;
  border-radius: 3px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  height: 43px;
  color: #FFFFFF;
  padding: 0 30px;
}
.gets {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}
.rectangle-6 {
  width: 100%;
  padding: 44px 0 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("images/rectangle6.svg");
}
.join-our-email {
  height: 52px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  font-size: 2.5rem;
  color: #FFFFFF;
}
.by-subscribing {
  margin-top: 7px;
  height: 52px;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.email {
  padding-left: 5px ;
  line-height: 43px;
  padding-right: 200px;
  margin-top: 28px;
}
.subscribe {
  height: 48px;
  margin-left: 24px;
  background-color: #65B915;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 24px;
}
.contact-us {
  background: #ffffff;
  padding-top: 100px;
  padding-bottom: 112px;
  width: 100%;
}
.cont {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  color: #65B915;
}
.us {
  font-weight: normal;
  color: #333333;
}
.name {
  display: inline-block;
  width: 99px;
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #222222;
  padding-bottom: 16px;
  padding-top: 18px;
  cursor: pointer;
}
.input-0 {
  border: none;
  outline: none;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  color: #777777;
}
.area {
  resize: none;
  vertical-align: top;
  padding-bottom: 16px;
  padding-top: 18px;
}
.frame {
  margin: 47px auto auto;
  padding: 11px 36px 34px;
  max-width: 792px;
  background: #FFFFFF;
  border: 1px solid #DBDCE3;
  box-sizing: border-box;
  border-radius: 3px;
}
.bottom-border {
  border-bottom: 1px solid #DBDCE3;
}
input.box {
  display: none;
}
label.i-give::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 1px solid #222222;
  box-sizing: border-box;
  border-radius: 3px;
  vertical-align: middle;
  margin-top: 34px;
  margin-right: 17px;
}
input[type="checkbox"]:checked + label::before {
  background-image: url("images/bird.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.i-give {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #777777;
  margin-left: 10px;
  vertical-align: bottom;
}
.submit {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #65B915;
  box-shadow: 0px 5px 15px rgba(101, 185, 21, 0.7);
  box-sizing: content-box;
  border-radius: 3px;
  float: right;
  line-height: 43px;
  height: 43px;
  margin-top: 20px;
  padding: 0 44px;
}
.group35 {
  display: flex;
  justify-content: space-around;
  height: 90px;
  margin-top: 112px;
  background: #F1FCED;
}
.brend {
  align-self: center;
}
.contact-1 {
  display: flex;
  justify-content: space-evenly;
  height: 87px;
  margin-top: 56px;
}
.contact-2 {
  padding-left: 55px;
  align-self: center;
  padding-top: 10px;
  background-repeat: no-repeat;
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  height: 78px;
}
.find {
  background-image: url("images/find.svg");
  padding-left: 45px;
  color: #222222;
}
.mail {
  background-image: url("images/mail.svg");
}
.call {
  background-image: url("images/call.svg");
}
.networks {
  background-image: url("images/networks.svg");
}
.grey {
  font-family: Hind Siliguri;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #777777;
}
.social {
  word-spacing: 1.6em;
}
.border-3 {
  border-bottom: 1px solid #DBDCE3;
  margin-top: 48px;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #777777;
  margin-bottom: 10px;
}
.privacy {
  color: #65B915;
}
.cloud-1 {
  position: absolute;
  animation-iteration-count: 1, infinite;
  animation-timing-function: linear, linear;
  animation-name: cloud-small-01, cloud-small-02;
  animation-duration: 55s, 60s;
  animation-delay: 0s, 55s;
  width: 12.5vw;
  left: -12.5vw;
  top: 15vh;
}
.cloud-2 {
  position: absolute;
  animation-iteration-count: 1, infinite;
  animation-timing-function: linear, linear;
  animation-name: cloud-big-01, cloud-big-02;
  animation-duration: 30s, 60s;
  animation-delay: 0s, 30s;
  width: 20vw;
  left: -20vw;
  top: 25vh;
}
@keyframes cloud-small-01 {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(112.5vw);
  }
}
@keyframes cloud-small-02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(112.5vw);
  }
}
@keyframes cloud-big-01 {
  0% {
    transform: translateX(80vw);
  }
  100% {
    transform: translateX(120vw);
  }
}
@keyframes cloud-big-02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}
.house-1 {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.house-1:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.house-2 {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.house-2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
